<%- include("includes/header.ejs") %>
<body>
    <form  method="POST" action="/portfolio/education">
        <label for="deg">Enter your Degree : </label> <br> <br>
        <input type="text" placeholder="enter your education" name="deg" id="deg"> <br> <br>
        <label for="deg">Enter your University or college name  : </label> <br> <br>
        <input type="text" name="place" placeholder="enter your college or university"> <br> <br>
        <label for="deg">Enter your marks : </label> <br> <br>
        <input type="text" placeholder="enter your marks" name="marks"> <br> <br>
        <button>Submit</button>
    </form>
</body>