<%- include("includes/header.ejs") %>
<body>
    <form  method="POST" action="/portfolio/experience">
        <label for="exp">Enter your Experience in years : </label> <br> <br>
        <input type="text" placeholder="enter your Experience" name="year" id="exp"> <br> <br>
        <label for="deg">Enter your University or college name  : </label> <br> <br>
        <input type="text" name="profile" placeholder="enter your college or university"> <br> <br>
        <label for="deg">Enter your marks : </label> <br> <br>
        <input type="text" placeholder="enter your marks" name="area"> <br> <br>
        <button>Submit</button>
    </form>
</body>